.dialogContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 1rem 2rem;
    background-color: #FFFF;
    font-size: 1.4rem;
    border-radius: 8px;
    width: 85%;
    max-width: 60rem;
    height: 10rem;
    text-align: left;
    color: black;
    transform: translateY(100vh);
    transition: transform 0.5s;
    font-weight: 500;
    box-shadow:  rgba(255, 255, 255, 0.5) 0px 0px 100px;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
}

.dialogContainer .icon svg {
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.3s;
}

.dialogContainer .icon svg:hover {
    transform: scale(1.4);
}
